/* Remove margem e padding padrão dos elementos e define uma fonte padrão */
* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cor de fundo da página inteira */
body {
  background-color: #f0f0f0; /* Altere para um cinza claro ou outra cor para testar */
  color: #333; /* Adicione uma cor de texto padrão para o body, para visibilidade */
}

/* Estilo base dos links */
a {
  text-decoration: none;
  color: #f7d354;
  transition: 0.5s; /* Transição suave ao passar o mouse */
}

/* Cor do link ao passar o mouse */
a:hover {
  color: #b8930c;
}
